/* creating the variables */
:root{
    --main-color:#2196f3;
    --alternative-color:#1787e0;
    --background-color:#ececec;
    --main-padding:100px;
    --main-transition:0.3s;
    --paragraph-color:#777;
    --paragraph-line-hight:1.5;
    --box-shadow :0 0 10px rgb(221 221 221);

}
/* basic */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    
}
/* start the heading */
.head{
    
    display: flex;
}
.head .header{

    margin: 5px auto;
    text-align: center;
    text-transform: uppercase;
}
.head .header p{
    color: var(--alternative-color);
}
.head .image{
    position: relative;
    width: 60px;
    height: 60px;
    
}
.head .image img{
    position: absolute;
    width: 85px;
    height: 55px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
/* End the heading */
/* start the input */
.input{
    display: block;
    margin-top: 20px

}
.input input{
        display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 6px;
        outline: none;
        border: none;
        width: 80%;
        height: 32px;
        transition: var(--main-transition);
        box-shadow: var(--box-shadow)
}
.input label{
    display: block;
}
.input  textarea{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 3px;
    text-align: center; align-items: center;
}
.input .examinField{
    display: block;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 6px;
        outline: none;
        border: none;
        width: 80%;
        height: 32px;
    
}
.price{
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    width: 80%;
    margin: 25px auto;
}
.price input{
    width: 30%;
    border-radius: 6px;
}
.price small{
    
       /* margin-top: 3px; */
        background-color: red;
        color: white;
        padding: 7px;
        margin-bottom: 10px;
        border-radius: 6px;

}
.input input:focus{
    transform: scale(1.1);
}
#total::before{
    content: 'Total:';
}
.input button{
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 30px;
    border: none;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: var(--main-transition);

}
.input button:hover{
    letter-spacing: 1px;
}

/* end the input */
/* start output */
.outpuHolder{
    margin-top: 10px;
}
.outpuHolder .seachBy{
    display: flex;
    justify-content: space-between;
}
.outpuHolder .seachBy button{
    width: 25%;
}
table{
    width: 100%;
}
table th{
    text-transform: uppercase;
    padding: 3px;

}
table tbody{
    width: 100%;
    text-align: center;
}
table tbody tr td{
    color: var(--paragraph-color);
}
table tbody textarea{
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 0px 20px 0px 20px;
}
table tbody tr button{
    padding: 4px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 3px;
    transition: var(--main-transition);
}
table tbody tr .ubdate{
    background-color: var(--main-color);
}
table tbody tr .delete{
    background-color: red;
}
/* end output */